.viewer {
  display: flex;
  flex-direction: column;
  gap: 0 0;
  h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .client {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 0 10px;

    svg {
      width: 23px;
      height: 23px;
    }
    p {
      font-size: 1rem;
    }
  }
}
