//* Viewer styles
// this file contains styles for the viewer component
// styles for the viewer component should not be modified somewhere else

.viewer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  h1,
  p {
    background-color: #2f313680;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
    user-select: none;
  }

  .channelNameContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .client {
    display: flex;
    flex-direction: row;
    gap: 0 0;
    align-items: center;
    margin: 0.5rem 0;

    // icon styles
    svg {
      width: 2.1rem;
      aspect-ratio: 1/1;
      margin-right: 0.5rem;
    }

    // client name styles
    p {
      font-size: 1.4rem;
    }
  }
}
